* {
    font-family: 'Helvetica';
    color: white;
}

body {
    height: 100vh;
    margin: 0;
    /* background: linear-gradient(to bottom, #232328 0%, #14213D); */
    background-color: #232328;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

header {
    position: relative
}

main {
    padding: 0 2%;
}

.language-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    margin-right: 10px;
    display: flex;
    gap: 10px;
}


.language-menu button {
    appearance: none;
    padding: 0;
    margin: 0;
    background-image: none;
    border-radius: 0;
    border: none;
    background-color: transparent;
    text-shadow: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

.navbar-links ul>li>a {
    text-decoration: none;
    font-weight: bold;
}

.navbar-links ul>li>a:hover {
    color: #FCA311;
    transition-duration: 0.4s;
}

.navbar-links-selected {
    color: #FCA311;
}

#welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers all child elements */
    text-align: center;
}

#welcome-text div {
    margin-bottom: 20px;
}

#telegram-logo {
    width: 50px;
    /* Adjust size as needed */
    height: auto;
}

#welcome-text div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers both the logo and text */
}

/* Optional: Style the link */
#welcome-text a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Keep text color consistent */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center image and text */
}

#welcome-text a:hover p {
    color: #FCA311;
    transition-duration: 0.4s;
}

#bottom-nav-links {
    display: flex;
    gap: 2%;
    text-align: center;
    justify-content: center;
}

#copy-field {
    display: flex;
    align-items: center;
    margin: 30px;
    font-size: larger;
}

#copy-button {
    appearance: none;
    padding: 0;
    margin-left: 10px;
    background-image: none;
    border-radius: 0;
    border: none;
    background-color: transparent;
    text-shadow: none;
    cursor: pointer;
    font-size: medium;
}

#copy-button:hover {
    color: #FCA311;
}


/* Image setup */
img {
    max-width: 100%;
    height: auto;
    width: auto;
    /* Default width */
    display: block;
}

@media (min-width: 100%) {
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .language-menu {
        position: unset;
        justify-content: center;
        margin-top: 10px;
    }

    .navbar-links {
        flex-direction: column;
    }

    .navbar-links ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #copy-field {
        flex-direction: column;
        gap: 10px;
    }
}